.header {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CE2B37;
  color: #ffffff;

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 1.5rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul, li {
    list-style: none;
  }

  li {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }

}

